version: "3.7"

volumes:
  nuget:

services:
  package:
    build: .
    tty: true
    stdin_open: true
    working_dir: /home/package
    env_file: .env
    depends_on:
      - meilisearch
      - nginx
    links:
      - meilisearch
      - nginx
    volumes:
      - ./:/home/package
      - nuget:/root/.nuget/packages/

  meilisearch:
    image: getmeili/meilisearch:${MEILISEARCH_VERSION}
    ports:
      - "7700:7700"
    environment:
      - MEILI_MASTER_KEY=masterKey
      - MEILI_NO_ANALYTICS=true

  meilisearchproxy:
    image: getmeili/meilisearch:${MEILISEARCH_VERSION}
    ports:
    - "7700"
    environment:
    - MEILI_MASTER_KEY=masterKey
    - MEILI_NO_ANALYTICS=true

  nginx:
    image: nginx:latest
    container_name: production_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8080:80
    depends_on:
      - meilisearchproxy
