<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for Meilisearch Dotnet tests" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!--
      Keep this rule disabled as it would force a header for each file
      and a copyright.
       - SA1633: FileMustHaveHeader
    -->
    <Rule Id="SA1633" Action="None" />
    <!--
        No documentation
    -->
    <Rule Id="SA0001" Action="None" />
    <!--
        Files can contain many types
    -->
    <Rule Id="SA1402" Action="None" />
  </Rules>
</RuleSet>
